html {
  height: 100%;
  width: 100%;
}

/* Part 1: Navbar */

/* General style rule set for all items in ul */
.navbar ul {
  list-style: none;
  list-style-type: none;
  overflow: hidden;
  top: 0;
  width: 90%;
  margin-bottom: 20px;

}

/* Style rule set for individual li */
.navbar ul li {
  float: left;
  margin: 10px;
}


/* Style rule set for individual li link */
.navbar ul li a {
  font-family: 'Raleway', sans-serif;
  font-style: 'Regular 400';
  color: #008CBA;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
  font-weight: bold;
}




/* Part 2: Flexbox */

/* General style rule set for flex container */
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}




/* Style set for all flex-items */
.flex-item {
  background: white;
  font-weight: bold;
  text-align: center;
}


.button {
  margin: 30px;
  text-align: center
}


button {
  background-color: #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 15px 32px;
  cursor: pointer;
}

.button-active{
  background-color: #043a4c;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 15px 32px;
  cursor: pointer;
}
.button-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}

#classes-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.header-container {
  background-color: #7fcde1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-style: 'Regular 400';
}

.subtitle {
  font-family: 'Raleway';
  font-style: italic;
}

.what-is-social-mobility {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.what-image {
  text-align: center;
  border-radius: 20px;
  margin: 20px;
}

.why-is-it-important {
  background-color: #7fcde1;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.why-image {
  text-align: center;
  border-radius: 20px;
  margin: 20px;
}


/* Customize Dark Mode Theme */
.dark-mode {
  background-color: #061537;
  color: white;
}

#petition {
  margin: 50px;
}

.petition-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100;
  padding-bottom: 50px;
}

.petition-para {
  width: 55%;
  padding-right: 10px;
}

.signatures {
  width: 45%;
  padding-right: 10px;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background: pink;
}

a{
  text-decoration:#008CBA;
}
a:link, a:visited {
  color: #008CBA;
}
a:hover{
  text-decoration: underline;
}